body {
  background-color: rgb(126, 126, 149);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;

  /* box-sizing: border-box; */
}

.container {
  width: 90vw;
  max-width: 400px;
  min-width: 300px;
  padding: 10px;
  border: solid 3px rgb(70, 70, 70);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(52, 51, 51);
}

.display-window {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  margin: 0.5rem;
  height: 10vh;
  max-height: 100px;
}

#display-area {
  color: rgb(235, 235, 235);
  font-size: 2rem;
  width: 100%;
  height: 100%;
  display: block;
  resize: none;
  border-radius: 10px;
  border: none;
  background-color: rgb(47, 79, 79);
}

.button-grid {
  display: grid;
  width: 100%;
  margin: 5px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  aspect-ratio: 1 / 1;
  gap: 5px;
}

.button-grid button {
  border-radius: 1rem;
  border: none;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.num-btn {
  background-color: rgb(108, 108, 108);
  color: rgb(234, 234, 234);
}
.num-btn:active {
  background-color: rgb(108, 108, 108, 0.8);
}

#zero-btn {
  grid-area: 5 / 1 / 5 / 3;
}

.operator-btn {
  background-color: rgb(213, 140, 4);
  color: rgb(234, 234, 234);
}

.operator-btn:active {
  background-color: rgb(213, 140, 4, 0.8);
}

.tool-btn {
  background-color: rgb(143, 115, 78);
  color: rgb(234, 234, 234);
}

.tool-btn:active {
  background-color: rgba(143, 115, 78, 0.8);
}
